.wrapper{
    display: flex;
    flex-direction: row;
    width: 97%;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #333;
}
.left-container{
    border: 1px solid #333;
    width: 55%;
    padding: 20px;
}
.right-container{
    border: 1px solid #333;
    width: 38%;
    padding: 10px;
}
.action-header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid #333;
    justify-content: space-between;
}
.cart-item{
    display:flex;
    flex-direction: row;
    padding: 10px;
    border: 1px solid #333;
}
.image{
    max-width: 150px;
}
.image img{
    width: 100%;
}
.qty-selector{
    flex: 1;
    text-align: right;
}
.title{
    padding: 10px;
    flex: 1;
    text-align: left;
}

.value{
    padding: 10px;
    flex: 1;
    text-align: right;
}
.order-details{
    display: flex;
}
.checkout-button{
    border: none;
    background-color: crimson;
    padding: 8px 200px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.checkout-button:hover{
    background-color: black;
}