*{
  box-sizing: border-box;
}

.slider-container {
    position: relative;
    max-width: 100%;
    margin: 2 auto;
    overflow: hidden;
  }

  .slider {
    display: flex;
    transition: transform 0.3s ease;
  }

  .slider-item {
    flex: 0 0 100%;
  }

  .slider-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .slider-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }

  .slider-button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
  }

  .slider-button.active {
    background-color: #000;
  }


h2{
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.category-name{
    width: 100%;
    display:flex; 
    flex-wrap: wrap; 
    overflow:hidden;
    padding-left: 80px;
    padding-right: 80px;
}

.image-style{
    width: 180px;
    border: solid black 1px;
    margin-right: 1%;
    text-align: center;
}

.img-style{
    width:100%;
    height: auto;
}

.btn-box{
  display: flex;
  float: left;
  margin: 0;

}

.seeall-btn{
  font-size: 20px;
  padding: 8px 50px 8px 50px;
  border: none;
  border-radius: none;
  outline: none;
  cursor: pointer; 
  background-color: #000;
  color: rgb(255, 255, 255);  
  margin-left: 35px;
}

.seeall-btn:hover{
  background-color: #04AA6D;
}

p{
  margin-top: 5px;
}






